@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0f172a;
    color: white;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #d1d5db;
  }

  /* Animations for Participant UI */
  @keyframes ripple {
    0% {
      width: 80px;
      height: 80px;
      opacity: 1;
    }

    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }

  .animate-ripple {
    animation: ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes dot-flashing {
    0% {
      background-color: rgba(255, 255, 255, 0.5);
    }

    100% {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .dot-flashing {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }

  .dot-flashing::before,
  .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-flashing::before {
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
}